body {
  margin: 0;
}

.main {
  height: 801px;
  background-color: plum;
  margin-bottom: 50px;
}
.main a {

}
/* メニューバー */
header {
  display: flex;
}
header h1 {
  margin: 0;
}
.menu {
  width: 100%;
}
.menu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-top: 25px;
}
.menu ul li {
  padding-left: 35px;
}
.menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
.menu ul li a:hover {
  text-decoration: underline blue;
}

/* メイン */
.mark {
  text-align: center;
  margin-top: 70px;
}
.catch {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  font-family: meiryo;
}
.corporation {
  text-align: center;
  font-family: serif;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
.main p:last-child {
  text-align: center;
  font-family: meiryo;
  font-weight: bold;
  color: #fff;
}

/* イメージ１ */
.image_1 {

}
.titleIcon {
  width: 190px;
  height: 180px;
  background-image: url(images/circle-vision.png);
  background-size: contain;
  
}
.box_1 {

}
.description_1 {
  width: 30em;
  padding: 50px 25px;
}
.description_1  h3 {
  color: #666666;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 0;
}
.description_1 p {
  color: #555555;
  font-size: 14px;

}