body {
  margin: 0;
}

.main {
  height: 801px;
  background-color: plum;
  margin-bottom: 50px;
  background: url(images/menu03_2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* メニューバー */
header {
  display: flex;
}
header h1 {
  margin: 0;
  width: 213px;
  height: 140px;
}
.menu {
  width: 100%;
}
.menu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-top: 25px;
  float: right;
  padding-right: 20px;
}
.menu ul li {
  padding-left: 35px;
}
.menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
.menu ul li a:hover {
  text-decoration: underline blue;
}

/* メイン */
.mark {
  text-align: center;
  margin-top: 70px;
}
.mark img {
  width: 220px;
}
.catch {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  font-family: meiryo;
}
.corporation {
  text-align: center;
  font-family: serif;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
.main p:last-child {
  text-align: center;
  font-family: meiryo;
  font-weight: bold;
  color: #fff;
}

/* イメージ１ */
.image_1 {
  padding-top: 100px;
  position: relative;
}

.titleIcon_1 {
  width: 190px;
  height: 180px;
  background-image: url(images/circle-vision.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: calc(50% - 95px);
  right: 50%
 
}
.box_1 {
  display: flex;
}

.area_1 {
  max-width: 540px;
  margin: 0 0 0 auto;
  padding: 50px 25px;
}

.description_1 {
  width: 100%;
  background: linear-gradient(to right, rgb(201,231,239) 20%, rgba(201,231,239,0));
}

.description_1  h3 {
  color: #666666;
  font-size: 23px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 0;
}

.description_1 p {
  color: #555555;
  font-size: 15px;
  width: 490px;
  line-height: 1.7;
}

.picture_1 {
  background-color: yellow;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1)),url(images/menu01.jpeg);
  min-height: 480px;
  width: 100%;
  background-size: cover;
}

/* イメージ２ */
.image_2 {
  padding-top: 100px;
  position: relative;
}

.titleIcon_2 {
  width: 190px;
  height: 180px;
  background-image: url(images/circle-consulting.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: calc(50% - 95px);
}

.box_2 {
  display: flex;
  padding-top: 100px;
}
.picture_2 {
  min-height: 480px;
  width: 100%;
  background-color: yellow;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1)), url(images/menu02_2.jpeg);
  background-size: cover

}

.description_2 {
  background: linear-gradient(to left, rgb(245,242,233) 20%, rgba(245,242,233,0));
  width: 100%;
}

.area_2 {
  max-width: 540px;
  margin: 0 auto 0 0;
  padding: 50px 25px;
  margin-left: 50px;
}

.description_2 h3 {
  color: #666666;
  font-size: 23px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 0;
}

#menu-btn-check {
  display: none;
}